node_modules
dist
.tmp
.sass-cache
bower_components
.idea
typings
build
public
test/**/*.js
test/**/*.map
app/src/**/*.js
!app/src/*.js
!app/src/gsap/TweenLite.js
!app/src/gsap/easing/EasePack.js
!app/src/gsap/plugins/CSSPlugin.js
app/src/**/*.map
reports
out
front-end.iml
webdriver-output
