<div>
    <h3 class="md-caption">{{timeLineItem.type}}</h3>
    <h2 class="md-subhead">
      <strong>{{timeLineItem.description}}</strong>
    </h2>
    <p class="md-body-1">{{timeLineItem.shortInfo}}</p>
</div>
