.vis-item {
  color: #8a6d3b;
  cursor: pointer;
  border-color: #faebcc;
  background-color: #fcf8e3;
}
.vis-timeline {
  border: none;
}
.vis-item.feedback{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.vis-item .vis-item-content{
  padding: 8px;
}
.vis-time-axis .vis-grid.vis-minor{
  border:none;
}
.reviewer {
  font-size: 0.6em;
  font-style: italic;

}
.vis-time-axis .grid.vis-odd {
  background: #f5f5f5;
}
.vis-panel.vis-center {
  border-bottom-color: orange;
  border-bottom-width: 1px;
}
.vis-time-axis .vis-text {
  color: #150d02;

}
.vis-item.vis-selected {
  color: white;
  background-color: #ec971f;
  border-color: #805212;
}
.vis-item.feedback.vis-selected{
  color: white;
  background-color: #398439;
  border-color: #224d22
}

md-chips.md-default-theme .md-chips, md-chips .md-chips {
  box-shadow: none;
}

.vis-time-axis .vis-text {
}
