$orange: #e98300;
$lightOrange: #f9a858;
$grey: #57595b;
$lightGrey: #bdbcbc;
$darkGrey: #686868;
$mainBackground: #f4f4f4;

$borderColor: #eeeeee;

card-header {
  position: relative;
  overflow: hidden;
  color: #BDBDBD;
  border-bottom: 1px solid $borderColor;

  md-icon {
    //position: absolute;
    color: $orange;
  }

  .edit-icons-fade{
    position: absolute;
  }
}
