<div layout="row" class="about-header" layout-align="start end">
  <h3 flex class="to-upper-case">{{$ctrl.title}}</h3>
  <div layout="row" layout-align="end center">
    <div layout="row">
      <div ng-show="$ctrl.showBtnSave" class="edit-icons-fade">
        <md-button
          ng-disabled="$ctrl.isSaveDisabled"
          aria-label="Save"
          ng-show="$ctrl.showBtnSave"
          ng-click="$ctrl.save()"
          class="md-icon-button md-warn ">
          <md-icon md-svg-src="act:done"></md-icon>
        </md-button>
        <md-button
          ng-click="$ctrl.cancel()"
          ng-show="$ctrl.showBtnCancel"
          class="md-icon-button btn-red">
          <md-icon md-svg-src="act:highlight_off"></md-icon>
        </md-button>
      </div>
      <md-button
        class="btnEdit"
        ng-click="$ctrl.editMode()"
        ng-show="$ctrl.showBtnEdit"
        class="md-icon-button simple-fade">
        <md-icon md-svg-icon="content:create"></md-icon>
      </md-button>
      <!--todo add on drag handler-->
      <md-button ng-show="$ctrl.showBtnDrag" class="md-icon-button">
        <md-icon md-svg-src="act:open_with"></md-icon>
      </md-button>
    </div>
  </div>
</div>
