<style>
  .activities-bar {
    background: darkorange;
    width: 2px;
    height: 100%;
    margin-left: 20px;
    position: absolute;
  }

  .activities {
    position: relative;
  }

  .activity-item-point {
    z-index: 10;
    margin: auto 4px;
    width: 35px;
    min-width: 35px;
    height: 35px;
    background: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .activity-item-point ng-md-icon {
    margin: 2px;
    width: 31px;
    height: 31px;
  }

  .activity-item {
    transition: .5s;
  }

  .activity-item h5 {
    margin: 5px 0;
  }

  .activity-item-date {
    color: darkgrey;
    fill: darkgrey;
    margin: 3px 0;
  }

  .orange-color {
    color: darkorange;
  }

  .activities md-chips .md-chips {
    float: right;
    box-shadow: none;
    padding: 0;
    font-size: 12px;
  }

  .activities .md-chips:not(.md-readonly) .md-chip {
    padding-right: 12px;
  }

  .activities md-chips.md-default-theme, md-chips .md-chip {
    background: darkorange;
    color: white;
  }

  .activities .md-chips .md-chip {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 0px 3px 3px 0;
    height: 28px;
    line-height: 28px;;
  }

  .activities .md-chips .md-chip .md-chip-content {
    padding-right: 0;
  }

  .activities md-card {
    position: relative;
  }

  .activities md-card:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -14px;
    margin-top: -7px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #E4E4E4;
  }
</style>

<div class="activities">
  <h4 class="md-title">Activity</h4>

  <div layout="column">
    <div>

      <div class="activities" ng-init="limitActivities=3" layout="column">
        <div class="activities-bar"></div>

        <div class="activity-item" layout ng-repeat="activity in activities | limitTo:limitActivities as activityCount">
          <div class="activity-item-point" ng-switch="activity.action">
            <ng-md-icon ng-switch-when="course" icon="school" style="fill:darkorange" size="31"></ng-md-icon>
            <ng-md-icon ng-switch-when="certificate" icon="wallet_membership" style="fill:darkorange"
                        size="31"></ng-md-icon>
            <ng-md-icon ng-switch-when="tutorial" icon="desktop_windows" style="fill:darkorange" size="31"></ng-md-icon>
            <ng-md-icon ng-switch-when="chat" icon="chat" style="fill:darkorange" size="31"></ng-md-icon>
          </div>
          <div flex="grow">
            <md-card>
              <div layout="column" layout-padding>
                <div layout>
                  <div flex="30" flex-sm="100" class="activity-item-date">
                    <ng-md-icon icon="schedule" size="20"></ng-md-icon>
                    <span>{{calculateDaysBetween(activity.date)}}</span>
                  </div>
                  <div flex="grow" hide-sm>
                    <md-chips ng-model="activity.tags" readonly="true">
                      <!--<md-chip>{{item.tag}}</md-chip>-->
                    </md-chips>
                  </div>
                </div>
                <h5>
                  <span class="orange-color">{{myDetails.firstName}}</span>
                  <span ng-switch="activity.action">
                    <span ng-switch-when="course"> completed </span>
                    <span ng-switch-when="certificate"> has a new certificate: </span>
                    <span ng-switch-when="tutorial"> created a new tutorial: </span>
                    <span ng-switch-when="chat"> replied on: </span>
                  </span>
                  <span class="orange-color">"{{activity.subject}}"</span>
                </h5>
              </div>
            </md-card>
          </div>
        </div>
      </div>

      <md-button layout layout-align="center center" ng-show="activityCount.length < activities.length"
                 ng-click="limitActivities = limitActivities + 1">Show more
      </md-button>

    </div>
  </div>
</div>
