<div class="activities" ng-cloak>
  <h4 class="md-title">Activity</h4>

  <div layout="column">
    <div>

      <div class="activities" ng-init="limitActivities=3" layout="column">
        <div class="activities-bar"></div>

        <div class="activity-item" layout ng-repeat="activity in activities | limitTo:limitActivities as activityCount">
          <div class="activity-item-point" ng-switch="activity.action">
            <ng-md-icon ng-switch-when="course" icon="school" style="fill:darkorange" size="31"></ng-md-icon>
            <ng-md-icon ng-switch-when="certificate" icon="wallet_membership" style="fill:darkorange"
                        size="31"></ng-md-icon>
            <ng-md-icon ng-switch-when="tutorial" icon="desktop_windows" style="fill:darkorange" size="31"></ng-md-icon>
            <ng-md-icon ng-switch-when="chat" icon="chat" style="fill:darkorange" size="31"></ng-md-icon>
          </div>
          <div flex="grow">
            <md-card>
              <div layout="column" layout-padding>
                <div layout>
                  <div flex="30" flex-sm="100" class="activity-item-date">
                    <ng-md-icon icon="schedule" size="20"></ng-md-icon>
                    <span>{{calculateDaysBetween(activity.date)}}</span>
                  </div>
                  <div flex="grow" hide-sm>
                    <md-chips ng-model="activity.tags" readonly="true">
                      <!--<md-chip>{{item.tag}}</md-chip>-->
                    </md-chips>
                  </div>
                </div>
                <h5>
                  <span class="orange-color">{{myDetails.firstName}}</span>
                  <span ng-switch="activity.action">
                    <span ng-switch-when="course"> completed </span>
                    <span ng-switch-when="certificate"> has a new certificate: </span>
                    <span ng-switch-when="tutorial"> created a new tutorial: </span>
                    <span ng-switch-when="chat"> replied on: </span>
                  </span>
                  <span class="orange-color">"{{activity.subject}}"</span>
                </h5>
              </div>
            </md-card>
          </div>
        </div>
      </div>

      <md-button layout layout-align="center center" ng-show="activityCount.length < activities.length"
                 ng-click="limitActivities = limitActivities + 1">Show more
      </md-button>

    </div>
  </div>
</div>
