<div id="aLittleAboutMe" layout-padding ng-cloak>
  <h4>A LITTLE ABOUT ME</h4>
  <p ng-if="aLittleAboutMe.intro !== null && aLittleAboutMe.intro !== ''">
    {{aLittleAboutMe.intro}}
  </p>
  <p ng-if="aLittleAboutMe.jobs !== null && aLittleAboutMe.jobs !== ''">
    {{aLittleAboutMe.jobs}}
  </p>
  <div class="myDetails">
    <ng-md-icon icon="home" size="24"></ng-md-icon>
    <p>
      {{aLittleAboutMe.address.street}} {{aLittleAboutMe.address.streetNumber}}<br/>
      {{aLittleAboutMe.address.zipCode}} {{aLittleAboutMe.address.city}}, {{aLittleAboutMe.address.country}}
    </p>
  </div>
  <div class="myDetails" ng-if="aLittleAboutMe.contactInformation !== null && Object.keys(aLittleAboutMe.contactInformation).length !== 0">
    <ng-md-icon icon="share" size="24"></ng-md-icon>
    <p>
      <span ng-if="aLittleAboutMe.contactInformation.twitter !== null && aLittleAboutMe.contactInformation.twitter !== ''">{{aLittleAboutMe.contactInformation.twitter}} (Twitter)<br/></span>
      <span ng-if="aLittleAboutMe.contactInformation.skype !== null && aLittleAboutMe.contactInformation.skype !== ''">{{aLittleAboutMe.contactInformation.skype}} (Skype)<br/></span>
      <span ng-if="aLittleAboutMe.contactInformation.windowsLiveMessenger !== null && aLittleAboutMe.contactInformation.windowsLiveMessenger !== ''">{{aLittleAboutMe.contactInformation.windowsLiveMessenger}} (Windows Live Messenger)<br/></span>
      <span ng-if="aLittleAboutMe.contactInformation.googleTalk !== null && aLittleAboutMe.contactInformation.googleTalk !== ''">{{aLittleAboutMe.contactInformation.googleTalk}} (Google Talk)<br/></span>
    </p>
  </div>
  <div class="myDetails" ng-if="aLittleAboutMe.website !== null && aLittleAboutMe.website !== ''">
    <ng-md-icon icon="language" size="24"></ng-md-icon>
    <p>
      {{aLittleAboutMe.website}}
    </p>
  </div>
  <div class="myDetails">
    <ng-md-icon icon="cake" size="24"></ng-md-icon>
    <p>
      {{aLittleAboutMe.birthDate | date:'longDate'}}
    </p>
  </div>
  <div class="myDetails" ng-if="aLittleAboutMe.children !== null">
    <ng-md-icon icon="account_child" size="24"></ng-md-icon>
    <p>
      {{aLittleAboutMe.children}} <span ng-if="aLittleAboutMe.children === 1">Child</span><span ng-if="aLittleAboutMe.children !== 1">Children</span>
    </p>
  </div>
</div>
