<div id="certificates" layout-padding ng-cloak>
  <h4>CERTIFICATES</h4>
  <div ng-if="certificates === null || certificates.length === 0">
    <p>
      There are no certificates yet.
    </p>
  </div>
  <div id="certificatesContainer" ng-if="certificates !== null && certificates.length !== 0">
    <div class="certificatesItem" ng-repeat="certificate in certificates">
      <img ng-src="{{certificate.image}}" alt="Certificate"/>
      <p>
        {{certificate.description}}
      </p>
    </div>
  </div>
</div>
