<div id="endorsements" ng-cloak>
  <h4>Endorsements</h4>
  <div id="list">
    <div class="endorsement" ng-repeat="endorsement in endorsements">
      <div class="info">
        <div class="counter">
          <strong>{{endorsement.counter}}</strong>
        </div>
        <div class="description">
          {{endorsement.description}}
        </div>
        <div class="line"></div>
      </div>
      <div class="persons" style="float: right;"><!-- float: right; does not work in class init -->
        <img ng-repeat="person in endorsement.persons" ng-src="{{person.image}}"/>
      </div>
      <div class="line"></div>
    </div>
  </div>
</div>
