<style>
  .experiences-bar {
    background: lightgray;
    width: 2px;
    height: 100%;
    margin-left: 14px;
    position: absolute;
  }

  .experiences {
    position: relative;
  }

  .experiences .md-button.md-fab.md-mini-mini {
    line-height: 25px;
    width: 25px;
    height: 25px;
    background-color: orange;
  }

  .experience-item-point {
    z-index: 10;
    margin: auto 5px;
    width: 20px;
    min-width: 20px;
    height: 20px;
    background: orange;
    border: 2px solid white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .experience-item h5 {
    margin: 5px 0;
  }

  .experience-item-date {
    color: darkgrey;
    fill: darkgrey;
  }

  .experience-item-customer-img {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 45px;
    margin: auto;
  }

  .orange-color {
    color: orange;
  }

  .experiences .md-button {
    min-height: 25px;
  }

  .experiences md-card {
    position: relative;
  }

  .experiences md-card:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -14px;
    margin-top: -7px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #E4E4E4;
  }
</style>

<div class="experience" layout-padding>
  <h4 class="md-title">Experience</h4>

  <div class="experiences" ng-init="limitExperiences=3" layout="column">
    <div class="experiences-bar"></div>

    <div class="experience-item" layout
         ng-repeat="experience in experiences | limitTo:limitExperiences as experienceCount">
      <div class="experience-item-point"></div>
      <div flex="grow">
        <md-card>
          <div layout layout-padding>
            <div flex="grow">
              <div class="experience-item-date">
                <ng-md-icon icon="schedule" size="20"></ng-md-icon>
                <span ng-if="experience.endDate">{{experience.startDate | date:'M/yyyy'}} - {{experience.endDate | date:'M/yyyy'}}</span>
                <span ng-if="!experience.endDate">Today</span>
              </div>
              <h5>{{experience.project}} - <span class="orange-color">{{experience.function}} &#64; {{experience.customer.name}}</span>
              </h5>
            </div>
            <div flex="20" class="experience-item-customer-img"
                 style="background-image:url({{experience.customer.img}});" hide-sm hide-md>
            </div>
          </div>
        </md-card>
      </div>
    </div>

  </div>
  <md-button layout layout-align="center center" ng-show="experienceCount.length < experiences.length"
             ng-click="limitExperiences = limitExperiences + 1">Show more
  </md-button>
</div>
