<style>

</style>

<div class="experience" layout-padding>
  <h4 class="md-title">Experience</h4>

  <div class="experiences" ng-init="limitExperiences=3" layout="column">
    <div class="experiences-bar"></div>

    <div class="experience-item" layout
         ng-repeat="experience in experiences | limitTo:limitExperiences as experienceCount">
      <div class="experience-item-point"></div>
      <div flex="grow">
        <md-card>
          <div layout layout-padding>
            <div flex="grow">
              <div class="experience-item-date">
                <ng-md-icon icon="schedule" size="20"></ng-md-icon>
                <span ng-if="experience.endDate">{{experience.startDate | date:'M/yyyy'}} - {{experience.endDate | date:'M/yyyy'}}</span>
                <span ng-if="!experience.endDate">Today</span>
              </div>
              <h5>{{experience.project}} - <span class="orange-color">{{experience.function}} &#64; {{experience.customer.name}}</span>
              </h5>
            </div>
            <div flex="20" class="experience-item-customer-img"
                 style="background-image:url({{experience.customer.img}});" hide-sm hide-md>
            </div>
          </div>
        </md-card>
      </div>
    </div>

  </div>
  <md-button layout layout-align="center center" ng-show="experienceCount.length < experiences.length"
             ng-click="limitExperiences = limitExperiences + 1">Show more
  </md-button>
</div>
