<md-content ng-cloak>
    <div id="header">
        <div id="header-logo">
            <img src="images/ordina-logo.png" alt="logo ordina"/>
        </div>
        <div id="header-menu" layout="row">
            <md-menu md-offset="0 68">
                <md-button ng-click="$mdOpenMenu()" aria-label="Open menu" id="menu-button">
                    <div id="menu-icon" style="background-image:url('http://lorempixel.com/100/100/');">
                        <ng-md-icon id="menu-dropdown" icon="expand_more"></ng-md-icon>
                    </div>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-href="#/about">
                            <div layout="row">
                                <p flex>Timeline</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-href="#/profile">
                            <div layout="row">
                                <p flex>Profile</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-href="#/admin">
                            <div layout="row">
                                <p flex>Admin</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="auth.logout()">
                            <div layout="row">
                                <p flex>Logout</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
    <div id="header-details" layout="row">
        <div hide-sm style="background-image:url('http://lorempixel.com/300/300/');"></div>
        <header>
            <h1 class="md-title">{{auth.myDetails.firstName}} {{auth.myDetails.lastName}}</h1>

            <p class="md-subhead">{{auth.myDetails.unit}}</p>
        </header>
    </div>

</md-content>
