app-header {
  .bg-title-header {
    background-color: rgba(0, 0, 0, 0.21);
    padding: 0.5em;
  }
  div {
    min-height: 160px;
    max-height: 160px;
    background: orange url('./header_360.jpg');
    background-size: cover;
    color: white;
  }
}
