$orange: #e98300;
$lightOrange: #f9a858;
$grey: #57595b;
$lightGrey: #bdbcbc;
$darkGrey: #686868;
$mainBackground: #f4f4f4;

div#getDetails {
  float: right;
}

a {
  color: $orange;
  font-size: 12px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

md-icon {
  color: $orange;
}
