<md-card>
  <card-header class="about-header"
               buttons="about.actionButtons"
               show-btn-edit="true"
               show-btn-drag="true">
  </card-header>
  <div id="status">
    <span>
      {{milestoneDetails.userFirstName}} {{milestoneDetails.userLastName}} -
      <span ng-if="milestoneDetails.status == 0" class="inProgress">In progress</span>
      <span ng-if="milestoneDetails.status == 1" class="accomplished">Accomplished</span>
      <span ng-if="milestoneDetails.status == 2" class="notAccomplished">Not accomplished</span>
    </span>
  </div>
  <div>
    <div id="milestone">
      ...
    </div>
    <div id="comments">
      ...
    </div>
  </div>
</md-card>
