$red: #dd0000;
$border-radius: 3px;

html, body {
  height: 100%;
}

#login-background {
  background: url('../../assets/images/login-background.jpg') no-repeat center;
  display: flex;
  height: 100%;
  background-size: cover;
}

#login {
  align-items: center;
  border-radius: $border-radius;
  box-shadow: 0px 1px 5px #888888;
  margin: auto;
  width: 400px;

  #login-form {
    #login-error {
      border: solid 1px $red;
      border-radius: 3px;
      color: $red;
      margin-left: 8px;
      margin-right: 8px;
      padding: 3px;
    }
  }

  button {
    width: 100%;
  }

  md-content {
    border-radius: $border-radius;
    padding: 15px;

    md-input-container {
      margin-top: 5px;
      width: 100%;
    }
  }

  img {
    margin: 0 auto 25px auto;
    height: auto;
    width: auto;
    max-height: 100px;
  }
}
