$mdCardShadowColor: rgba(219, 216, 219, 1);

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  color: orange;
  background: orange;
  height: 4px;
}

md-card {
  .md-chips {
    box-shadow: none;
    font-size: 0.9em;
  }
  .gray {
    color: #777777;
    word-break: break-all;
  }
}

.no-height-stretch {
  max-height: 0 !important;
}

.accent-color {
  color: #e98300;
}

.text-top-padding {
  padding-top: 16px;
}

.text-bottom-padding {
  padding-bottom: 24px;
}
