$orange: #e98300;
$lightOrange: #f9a858;
$grey: #57595b;
$lightGrey: #bdbcbc;
$darkGrey: #686868;
$mainBackground: #f4f4f4;
$logoTopLeft: 'images/jworks-logo-nomargin.png';
$logoSize: 64px;

toolbar {
  img {
    margin: 0 0.2em;
    padding: 0.3em;
    width: $logoSize;
    height: $logoSize;
  }
  .md-menu {
    margin: 0;

  }
  #toolbar {
    background-color: white;
  }
  profile-search {
    padding: 0 3em 0 1em;
  }
  #welcome {
    color: $orange;
    font-size: 2em;
    p {
      margin: 0.2em 0.1em;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700;
    }
  }

  .profileMenu {
    position: relative;
    top: 2px;
    text-transform: none;
  }
  /*.push {
    background-color: $orange;
    border-radius: 7px;
    font-size: 8px;
    height: 14px;
    width: 14px;
    margin: 0;
    position: absolute;
    top: 6px;
    left: 22px;

    p {
      margin: 0;
      padding: 0;
      line-height: 14px;
      color: white;
    }
  }*/
}
