<div layout="row" flex ng-if="$ctrl.milestones.length > 0 && $ctrl.milestonesLoaded">
  <span flex="10"></span>
  <div layout="column" flex="60" class="no-height-stretch">
    <milestone-details></milestone-details>
    <milestone-comments ng-if="$ctrl.selectedMilestone"></milestone-comments>
  </div>
  <md-card flex="40">
    <md-card-title>
      <p class="no-top-margin no-bottom-margin md-headline">Milestones</p>
    </md-card-title>
    <div class="loading-container" layout="row" layout-align="center center" ng-if="!$ctrl.milestonesLoaded">
      <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="60"></md-progress-circular>
    </div>
    <md-card-content ng-if="$ctrl.milestonesLoaded">
      <md-list id="milestone-list">
        <milestone-item
          ng-class="$ctrl.selectedMilestone.objective.title === mile.objective.title ? 'milestone-selected' : ''"
          on-selected="$ctrl.onMilestoneSelected($locals)"
          milestone="mile"
          ng-repeat="mile in $ctrl.milestones">
        </milestone-item>
      </md-list>
    </md-card-content>
  </md-card>
  <span flex="10"></span>
</div>
<div flex ng-if="!$ctrl.milestones.length > 0 && $ctrl.milestonesLoaded" layout-align="center center" layout="row">
  <md-card layout-align="center center" flex="80" flex-gt-md="50">
    <h3 class="md-subhead">Unfortunately this employee has <strong>no</strong> milestones</h3>
  </md-card>
</div>
