@font-face {
  font-family: Neuratext;
  src: url('./nautratext-lightalt2.ttf');
}
@font-face {
  font-family: NeuratextBold;
  src: url('./neutratext-bold.otf');
}
@font-face{
  font-family: NexaBold;
  src: url('./nexa_bold.otf');
  font-style: normal;
  font-weight: bold;
}
@font-face{
  font-family: NexaLight;
  src: url('./next_light.otf');
  font-style: normal;
  font-weight: normal;
}
