$orange: #e98300;
$lightOrange: #f9a858;
$grey: #57595b;
$lightGrey: #bdbcbc;
$darkGrey: #686868;
$mainBackground: #f4f4f4;
$backgroundImg: './images/header-background.jpg';
$headerHeight: 400px;

header {
  .header-bg {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ),url($backgroundImg) no-repeat;
    overflow: hidden;
    width: 100%;
    height: $headerHeight;
    background-position: 50%;
    background-size: cover;
  }

  span {
    font-size: 40px;
    margin: 10px;
  }

  #search {
    background-color: $mainBackground;
    width: 50%;

    input {
      width: 92%;
      padding: 10px;
      background-color: $mainBackground;
      border: none;
      outline: none;

      ~ md-icon {
        color: $orange;
      }

      ~ md-icon:hover {
        cursor: pointer;
      }
    }
  }
}

