<!--<div ng-repeat="item in myTimelineItems">-->
<!--<p>{{item.description}}</p>-->
<!--</div>-->


<style>

  .bar {
    height: 4px;
    background: #eee;
    width: 100%;
    position: relative;
    top: 13px;
    left: 0;
  }

  .timeline {
    white-space: nowrap;
    overflow-x: scroll;
    padding: 30px 0 10px 0;
    position: relative;
  }

  .timeline-item {
    display: inline-block;
    vertical-align: top;
    background: white;
    font-size: 12px;
    text-align: center;
    position: relative;
    border: 1px solid ghostwhite;
    min-width: 250px;
    max-width: 500px;
    margin: 0px 10px;
  }

  .timeline-item:after {
    content: '';
    display: block;
    background: #eee;
    width: 21px;
    height: 21px;
    border-radius: 14px;
    border: 3px solid darkgrey;
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -10px;
  }

  .timeline-item:before {
    content: '';
    display: block;
    background: darkgrey;
    width: 3px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: -20px;
    margin-left: -1px;
  }

  .timeline-item h4 {
    color: #fff;
    background-color: darkorange;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin: 0;
    padding: 10px;
    padding-bottom: 25px;
  }

  .timeline .item-icon {
    width: 46px;
    height: 46px;
    border: 2px solid ghostwhite;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: white;
    margin: 0 auto;
    margin-top: -20px;
  }

  .timeline .item-icon ng-md-icon {
    background: white;
    fill: black;
    margin: 8px;
  }

</style>

<div layout="row">
  <md-input-container>
    <label>Description: </label>
    <input ng-model="timeline.objective.description" >
  </md-input-container>

  <md-input-container style="margin-right: 10px;">
    <label>Term: </label>
    <md-select ng-model="timeline.objective.length">
      <md-option ng-repeat="length in timeline.objectiveLengths">{{length.name}}</md-option>
    </md-select>
  </md-input-container>

  <md-input-container style="margin-right: 10px;">
    <label>Type: </label>
    <md-select ng-model="timeline.objective.type">
      <md-option ng-repeat="type in timeline.objectiveTypes" >{{type.name}}</md-option>
    </md-select>
  </md-input-container>

  </div>

<label> Target date: </label>
  <md-datepicker ng-model="timeline.format.targetDate" md-placeholder="Enter date"
                  ></md-datepicker>


<md-button class="md-fab md-raised md-primary" ng-click="timeline.saveObjective()">
  <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
</md-button>
<div>
  <div class="bar"></div>
  <div class="timeline">
    <div class="timeline-item" ng-repeat="objective in timeline.objectives">
      <h4>{{objective.description}}</h4>

      <div ng-switch="objective.type">
        <div ng-switch-when="Competence" class="item-icon">
          <ng-md-icon icon="school" style=""></ng-md-icon>
        </div>
        <div ng-switch-when="Personal" class="item-icon">
          <ng-md-icon icon="person" style=""></ng-md-icon>
        </div>
        <p>Target date: {{objective.targetDate}}</p>

        <p>End date: {{objective.endDate}}</p>

        <p>Length: {{objective.length}}</p>
      </div>

    </div>
  </div>
</div>
