<md-card>
  <form name="aboutEditForm" novalidate>
    <div class="loading-container" layout="row" layout-align="center center" ng-if="!about.isContentLoaded">
      <md-progress-circular
        class="md-primary"
        md-diameter="60"></md-progress-circular>
    </div>
    <div class="content-container trans-height" layout="row" ng-if="about.isContentLoaded">

      <span flex="5"></span>

      <!-- Card content -->
      <div flex layout="column">



        <!-- Card header -->

        <card-header
          show-btn-edit="true"
          title="{{about.title}}"
          on-edit-click="about.onEdit()"
          on-cancel-click="about.onCancel()"
          on-save-click="about.onSubmit()">
        </card-header>



        <!-- Show info -->

        <div class="about-content" layout="row" layout-xs="column" ng-if="!about.isEditModeEnabled">

          <!-- Left column: Picture -->
          <div flex="25" class="about-img" layout="row" layout-align="start top" layout-align-xs="center center">
            <img ng-src="{{about.profilePicture}}" alt="Profile picture" class="sample">
          </div>

          <!-- Center column: Overview -->
          <div flex="30" layout="column">
            <div class="about-job">

              <!-- Function -->
              <div class="about-function about-job-detail">
                <div>
                  <h4 class="to-upper-case">Function</h4>
                  <span>{{about.employee.function}}</span>
                </div>
              </div>

              <!-- Unit -->
              <div class="about-unit about-job-detail">
                <div>
                  <h4 class="to-upper-case">Unit</h4>
                  <span>{{about.employee.unit.name}}</span>
                </div>
              </div>

              <!-- Gender -->
              <div class="about-gender about-job-detail fade" ng-if="!about.isCollapsed">
                <div>
                  <h4 class="to-upper-case">Gender</h4>
                  <span>{{about.employee.gender}}</span>
                </div>
              </div>

              <!-- Start date -->
              <div class="about-start-date about-job-detail fade" ng-if="!about.isCollapsed">
                <div>
                  <h4 class="to-upper-case">Start date</h4>
                  <span>{{about.employee.startDate}}</span>
                </div>
              </div>

              <!-- End date -->
              <div class="about-end-date about-job-detail fade"
                   ng-if="about.isCollapsed && about.employee.resignationDate !== '' && about.employee.resignationDate !== null">
                <h4>End date</h4>
                <span>{{about.employee.resignationDate}}</span>
              </div>
            </div>
          </div>

          <!-- Right column: Description -->
          <div flex="45" flex-gt-sm="70" class="about-description">
            <p ng-if="about.employee.description">
              <span ng-if="about.isCollapsed">{{about.shortDescription}}</span>
              <span ng-if="!about.isCollapsed">{{about.employee.description}}</span>
            </p>
          </div>
        </div>



        <!-- Edit info -->

        <div class="about-content" layout="row" layout-xs="column" ng-if="about.isEditModeEnabled">

          <!-- Left column: Picture -->
          <div flex="25" class="about-img" layout="row" layout-align="start top" layout-align-xs="center center">
            <img ng-src="{{about.profilePicture}}" alt="Profile picture" class="sample">
          </div>

          <!-- Center column: Overview -->
          <div flex="30" layout="column">
            <div class="about-job">

              <!-- Function -->
              <div class="about-function about-job-detail">
                <div>
                  <md-input-container class="md-block" flex-gt-xs>
                    <label>Function</label>
                    <input required name="userFunctie" ng-model="about.employee.function">
                  </md-input-container>
                </div>
              </div>

              <!-- Unit -->
              <div class="about-unit about-job-detail">
                <div>
                  <md-input-container class="md-block" flex-gt-xs>
                    <label>Unit</label>
                    <input required name="userUnit" ng-model="about.employee.unit.name">
                  </md-input-container>
                </div>
              </div>

              <!-- Gender -->
              <div class="about-gender about-job-detail fade" ng-if="!about.isCollapsed || about.isEditModeEnabled
              ">
                <div>
                  <md-input-container class="md-block" flex-gt-xs>
                    <label>Gender</label>
                    <input required name="userGender" ng-model="about.employee.gender">
                  </md-input-container>
                </div>
              </div>

              <!-- Start date -->
              <div class="about-start-date about-job-detail fade" ng-if="!about.isCollapsed || about.isEditModeEnabled">
                <div>
                  <md-input-container class="md-block" flex-gt-xs>
                    <label>Start date</label>
                    <input required name="userStartDate" ng-model="about.employee.startDate">
                  </md-input-container>
                </div>
              </div>

              <!-- End date -->
              <div class="about-end-date about-job-detail fade"
                   ng-if="about.isCollapsed && about.employee.resignationDate !== '' && about.employee.resignationDate !== null">
                <h4>End date</h4>
                <span>{{about.employee.resignationDate}}</span>
              </div>
            </div>
          </div>

          <!-- Right column: Description -->
          <div flex="45" flex-gt-sm="70" class="about-description">
            <div>
              <md-input-container class="md-block" flex-gt-xs>
                <label>Description</label>
              <textarea name="userDescription"
                        required
                        ng-model="about.employee.description"
                        md-maxlength="2048"
                        ng-maxlength="2048"
                        md-select-on-focus>
              </textarea>
              </md-input-container>
            </div>
          </div>
        </div>



        <!-- Card footer -->
        <div layout="row" ng-if="!about.isEditModeEnabled" layout-align="end center" class="about-footer">
          <md-button ng-click="about.onExpandCollapseButtonClick()" class="md-raised md-primary">
            {{about.footerButtonLabel}}
          </md-button>
        </div>
      </div>

      <span flex="5"></span>

    </div>
  </form>
</md-card>
