<form name="loginForm" novalidate ng-submit="$ctrl.login(loginForm.$valid)">
    <div layout="column" layout-padding ng-cloak>
        <md-content class="autoScroll">
            <md-input-container class="md-icon-float md-block">
                <label>Email</label>
                <md-icon md-svg-icon="com:email"></md-icon>
                <input required
                       ng-model="$ctrl.user.email"
                       ng-change="$ctrl.onChange(this, 'useremail')"
                       name="useremail" type="email">
                <div ng-messages="loginForm.useremail.$error">
                    <div ng-message="required">Email is required.</div>
                    <div ng-message="email">This is not a valid email address.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>Username</label>
                <md-icon></md-icon>
                <input ng-change="$ctrl.onChange(this, 'username')"
                       required
                       minlength="4"
                       maxlength="20"
                       unique-username
                       ng-model="$ctrl.user.username" name="username" type="text">
                <div ng-messages="loginForm.username.$error">
                    <div ng-message="required">Username is required.</div>
                    <div ng-message="minlength">Should have atleast 4 characters.</div>
                    <div ng-message="maxlength">Should have atmost 20 characters.</div>
                    <div ng-message="uniqueUsername">Username is not available.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Password</label>
                <md-icon></md-icon>
                <input required
                       ng-change="$ctrl.onChange(this, 'password')"
                       ng-model="$ctrl.user.password" name="password" type="password">
                <div ng-messages="loginForm.password.$error">
                    <div ng-message="required">Password is required.</div>
                </div>
            </md-input-container>
            <md-checkbox ng-model="$ctrl.rememberPw" aria-label="Checkbox Remember me">
                Remember me
            </md-checkbox>
        </md-content>
        <div layout="row">
            <span flex></span>
            <md-button
                    flex="70"
                    ng-disabled="loginForm.$invalid"
                    ng-click="$ctrl.validate()"
                    class="md-raised md-primary">Login
            </md-button>
            <span flex></span>
        </div>
    </div>
</form>
