<md-card>
  <div class="content-container trans-height" layout="row">
    <span flex="5"></span>
    <div flex layout="column">
      <card-header
        buttons="$ctrl.actionButtons"
        show-btn-drag="true"
        title="{{$ctrl.title}}">
      </card-header>
      <div layout="row" ng-if="$ctrl.hasError" layout-align="center center">
        <span class="error-milestone alert alert-danger md-subhead">{{$ctrl.errorMsg}}</span>
      </div>
      <div class="loading-container" layout="row" layout-align="center center" ng-if="!$ctrl.isContentLoaded">
        <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="60"></md-progress-circular>
      </div>
      <timeline
        ng-if="!$ctrl.createMode"
        ng-show="$ctrl.isContentLoaded"
        id="timeline"
        on-content-loaded="$ctrl.onContentLoaded(isLoaded)">
      </timeline>
      <milestone-create
        id="milestone-create"
        ng-if="$ctrl.createMode"
        ng-show="$ctrl.isContentLoaded"
        on-content-loaded="$ctrl.loaded(isLoaded)"
        is-save-enabled="$ctrl.isSaveEnabled(isEnabled)">
      </milestone-create>
    </div>
    <span flex="5"></span>
  </div>
</md-card>





