$lightOrange: #f9a858;
$orange: #e98300;
$lightGrey: rgba(0, 0, 0, 0.14);

timeline {
  ul {
    list-style: none;
    padding: 0;
    max-height: 560px;
    overflow-y: scroll;
  }
  .md-headline {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

milestone {
  li {
    position: relative;
    .greenIcon {
      color: limegreen;
      padding-left: 10px;
    }
    .dateBox {
      padding-top: 5px;
    }
    .milestone-badge {
      background-color: $lightOrange;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      position: absolute;
      left: 20%;
      margin-left: -16px;
      top: 24px;
      color: white;
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
      line-height: 35px;
    }
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 20%;
      content: " ";
      width: 3px;
      background-color: $lightOrange;
    }
    md-card-title {
      padding-top: 0;
      padding-bottom: 0;
    }
    .md-headline {
      font-size: 1.3em;
      padding-bottom: 0.5em;
      padding-top: 0.5em
    }
    .timeline-card {
      position: relative;
      box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
      &:before {
        left: -15px;
        right: auto;
        position: absolute;
        top: 20px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 0 solid $lightGrey;
        border-right: 15px solid $lightGrey;
        border-bottom: 15px solid transparent;
        content: " ";
      }
      &:after {
        left: -14px;
        position: absolute;
        top: 21px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 0 solid white;
        border-right: 14px solid white;
        border-bottom: 14px solid transparent;
        content: " ";
      }
      &:focus {
        outline: none;
      }
      &:hover {
        cursor: pointer;
      }
      .md-chips {
        box-shadow: none;
        font-size: 0.9em;
      }
      .fade-text {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      h4 {
        color: $lightOrange;
        margin-bottom: 0.5em;
      }
    }
  }
}

milestone-create {
  padding-bottom: 1em;
  .datepicker-container {
    position: relative;
    padding-top: 2px;
    margin: 18px 0 0 0;
    vertical-align: middle;
    .md-datepicker-button {
      display: none !important;
    }
    .md-datepicker-input {
      margin-bottom: 3px;
    }
    .validation-messages {
      font-size: 12px;
      margin-left: 12px;
      color: #0B548F;
      padding-top: 5px;
    }
    label {
      order: 1;
      pointer-events: none;
      padding-left: 15px;
      padding-right: 0;
      z-index: 1;
      transform: translate3d(0, 6px, 0) scale(0.75);
      transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
      transform-origin: left top;
      position: absolute;
      bottom: 100%;
      left: 0;
      right: auto;
      color: rgba(0, 0, 0, 0.4);
    }
  }
  md-input-container {
    padding-bottom: 0 !important;
    margin-bottom: 0;
  }

  h5 {
    color: $orange;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

}
