<md-card>
  <div class="loading-container" layout="row" layout-align="center center" ng-if="!$ctrl.isContentLoaded">
    <md-progress-circular class="md-primary" md-diameter="60"></md-progress-circular>
  </div>
  <div class="content-container trans-height" layout="row" ng-if="$ctrl.isContentLoaded">
    <span flex="5"></span>
    <div flex layout="column">
      <card-header
        show-btn-drag="true"
        title="{{$ctrl.title}}">
      </card-header>
      <timeline id="timeline" username="{{$ctrl.username}}" onContentLoaded="$ctrl.onContentLoaded"></timeline>
      <!--todo editorview-->
    </div>
    <span flex="5"></span>
  </div>
</md-card>





