<li layout="row">
  <div flex="25" class="dateBox">
    <p class="md-headline due-date" ng-if="!$ctrl.milestone.endDate">{{$ctrl.milestone.dueDate | amDateFormat:'DD.MM.YYYY'}}</p>
    <p class="md-headline end-date" ng-if="$ctrl.milestone.endDate">{{$ctrl.milestone.endDate | amDateFormat:'DD.MM.YYYY'}}<i class="fa fa-check greenIcon" aria-hidden="true"></i></p>
  </div>
  <div class="milestone-badge">{{$ctrl.mileStoneBadge}}</div>
  <md-card flex="75" class="timeline-card">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{$ctrl.milestone.objective.title}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p class="fade-text">{{$ctrl.milestone.objective.description}}</p>

      <md-chips readonly="true" ng-model="$ctrl.milestone.objective.tags">
      </md-chips>
    </md-card-content>
  </md-card>
</li>
