<form name="milestoneCreateForm" novalidate>
  <div layout="column">
    <div layout="row">
      <objectives-search
        on-selected="$ctrl.onObjectiveSelected(objective)" flex="50"></objectives-search>
      <div class="datepicker-container">
        <label>Due Date</label>
        <md-datepicker
          ng-model="$ctrl.milestone.dueDate"
          md-placeholder="Due Date"
          name="dueDate"
          md-min-date="$ctrl.minDate"
          md-is-error="$ctrl.milestone.dueDate.$invalid"
          required></md-datepicker>
        <div class="validation-messages" ng-messages="milestoneCreateForm.dueDate.$error">
          <div ng-message="required">Due date is required.</div>
          <div ng-message="mindate">Due date is in past.</div>
          <div ng-message="valid">Date is invalid.</div>
        </div>
      </div>
    </div>
    <div layout="column" ng-if="$ctrl.milestone.objective">
      <h5>Description</h5>
      <p ng-if="$ctrl.milestone.objective.description">{{$ctrl.milestone.objective.description}}</p>
      <p ng-if="!$ctrl.milestone.objective.description">No description</p>
    </div>
    <div layout="row">
      <md-input-container class="md-block flex">
        <label>More Information</label>
        <textarea ng-model="$ctrl.milestone.moreInformation" md-select-on-focus></textarea>
      </md-input-container>
    </div>
  </div>
</form>
