<md-card>
  <div class="loading-container" layout="row" layout-align="center center" ng-if="!$ctrl.isContentLoaded">
    <md-progress-circular class="md-primary" md-diameter="60"></md-progress-circular>
  </div>

  <div class="content-container trans-height" layout="row">
    <span flex="5"></span>
    <div flex layout="column">
      <button ng-click="$ctrl.createMode = !$ctrl.createMode">{{$ctrl.createMode && 'stop edit' || 'edit'}}</button>
      <card-header
        show-btn-drag="true"
        title="{{$ctrl.title}}">
      </card-header>
      <timeline
        ng-if="!$ctrl.createMode"
        ng-show="$ctrl.isContentLoaded"
        id="timeline"
        username="{{$ctrl.username}}"
        on-content-loaded="$ctrl.loaded(isLoaded)">
      </timeline>
      <milestone-create
        id="milestone-create"
        ng-if="$ctrl.createMode"
        ng-show="$ctrl.isContentLoaded"
        username="{{$ctrl.username}}"
        on-content-loaded="$ctrl.loaded(isLoaded)">
      </milestone-create>
    </div>
    <span flex="5"></span>
  </div>
</md-card>





