<li layout="row">
  <div flex="25">
    <p class="md-headline" ng-if="$ctrl.milestone.dueDate">{{$ctrl.milestone.dueDate}}</p>
  </div>
  <md-card flex="75" class="timeline-card">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{$ctrl.milestone.objective.title}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>{{$ctrl.milestone.objective.description}}</p>

      <md-chips readonly="true" ng-model="$ctrl.milestone.objective.tags">
      </md-chips>
    </md-card-content>
  </md-card>
</li>
