$orange: #e98300;
$lightOrange: #f9a858;
$grey: #57595b;
$lightGrey: #bdbcbc;
$darkGrey: #686868;
$mainBackground: #f4f4f4;
$logoTopLeft: './images/ordineo.png';
$logoSize: 88px;

toolbar {
  md-toolbar.toolbar {
    background-color: white;
  }

  .logo {
    background: url($logoTopLeft) no-repeat center;
    background-size: cover;
    width: 100px;
    height: $logoSize;
  }

  .md-icon-button {
    md-icon {
      color: $lightGrey;
    }

    &:hover {
      md-icon {
        color: $darkGrey;
      }
    }
  }

  .push {
    background-color: $orange;
    border-radius: 7px;
    font-size: 8px;
    height: 14px;
    width: 14px;
    margin: 0;
    position: absolute;
    top: 6px;
    left: 22px;

    p {
      margin: 0;
      padding: 0;
      line-height: 14px;
      color: white;
    }
  }
}
