$logoTopLeft: './images/o.jpg';
$logoSize: 88px;
toolbar {
  md-toolbar.toolbar{
    background-color: white;
  }
  .logo{
    background: url($logoTopLeft) no-repeat center;
    background-size: cover;
    width: $logoSize;
    height: $logoSize;
  }
  .md-icon-button svg{
    color: #cfcfcf;
  }

  .md-icon-button:hover svg{
    color: black;
  }
}
