<md-toolbar class="md-medium-tall toolbar" md-whiteframe="1">
  <div layout="row" flex="grow" layout-align="center center">
    <div class="logo"></div>
    <div class="md-toolbar-tools">
      <span flex="60" flex-gt-md="70"></span>
      <div flex layout="row" layout-align="center center">
        <md-button class="md-icon-button " ng-repeat="btn in $ctrl.buttons">
          <span>{{btn.messages}}</span>
          <md-icon md-svg-icon="{{btn.icon}}"></md-icon>
        </md-button>
      </div>
    </div>
  </div>
</md-toolbar>
