<md-card id="comments" class="boxPadding">
  <div id="commentsTitle">
    <strong>COMMENTS</strong>
  </div>
  <div id="commentsAdd">
    <div class="profilePicture"></div>
    <md-input-container>
      <input id="commentField"
             placeholder="Add a comment..."
             ng-model="milestoneComments.commentFieldData"
             on-enter="milestoneComments.addComment()"
             maxlength="142">
    </md-input-container>
  </div>
  <hr>
  <div class="loading-container" layout="row" layout-align="center center" ng-if="!milestoneComments.commentsLoaded">
    <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="60"></md-progress-circular>
  </div>
  <div ng-show="milestoneComments.commentsLoaded">
    <div class="commentBox" ng-repeat="comment in milestoneComments.comments">
      <div class="profilePicture"></div>
      <div class="comment">
        <div class="commentTitle">
          <strong>{{comment.username}}</strong> - <span class="commentTimestamp">{{comment.createDate | date : "medium"}}</span>
        </div>
        <div class="commentMessage">
          {{comment.message}}
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</md-card>
