<div layout="column" layout-padding ng-cloak>
    <md-content class="autoScroll">
        <md-input-container class="md-icon-float md-block">
            <label>Email</label>
            <md-icon md-svg-icon="com:email" ></md-icon>
            <input ng-model="user.email" type="text">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Password</label>
            <md-icon></md-icon>
            <input ng-model="user.pw" type="text">
        </md-input-container>
    </md-content>
    <md-button class="md-raised md-primary">Login</md-button>
    <section>
        <md-button>Register</md-button>
    </section>
</div>
