<md-card>
  <form name="aboutEditForm" novalidate>
    <div class="loading-container" layout="row" layout-align="center center" ng-if="!about.isContentLoaded">
      <md-progress-circular
        class="md-primary"
        md-diameter="60"></md-progress-circular>
    </div>
    <div class="content-container trans-height" layout="row" ng-if="about.isContentLoaded">

      <span flex="5"></span>

      <!-- Card content -->
      <div flex layout="column">


        <!-- Card header -->
        <card-header
          class="about-header"
          buttons="about.actionButtons"
          is-save-disabled="aboutEditForm.$invalid"
          show-btn-edit="true"
          show-btn-drag="true"
          title="{{about.title}}"
          on-edit-click="about.onEdit()"
          on-cancel-click="about.onCancel()"
          on-save-click="about.onSubmit()">
        </card-header>

        <!-- Show info -->
        <div class="about-content" layout="row" layout-xs="column" ng-if="!about.isEditModeEnabled">

          <!-- Left column: Picture -->
          <div flex="25" class="about-img" layout="column" layout-align="start top" layout-align-xs="center center">
            <img ng-src="{{about.profilePicture}}" alt="Profile picture" class="sample">
          </div>

          <!-- Center column: Overview -->
          <div flex="30" layout="column">
            <div class="about-job">

              <!-- Function -->
              <div class="about-function about-job-detail">
                <div>
                  <h4 class="to-upper-case">Function</h4>
                  <span>{{about.employee.function}}</span>
                </div>
              </div>

              <!-- Unit -->
              <div class="about-unit about-job-detail">
                <div>
                  <h4 class="to-upper-case">Unit</h4>
                  <span>{{about.employee.unit.name}}</span>
                </div>
              </div>

              <!-- Gender -->
              <div class="about-gender about-job-detail fade" ng-if="!about.isCollapsed">
                <div>
                  <h4 class="to-upper-case">Gender</h4>
                  <span>{{about.employee.gender}}</span>
                </div>
              </div>

              <!-- Start date -->
              <div class="about-start-date about-job-detail fade" ng-if="!about.isCollapsed">
                <div>
                  <h4 class="to-upper-case">Start date</h4>
                  <span>{{about.employee.startDate}}</span>
                </div>
              </div>

              <!-- End date -->
              <div class="about-end-date about-job-detail fade"
                   ng-if="about.isCollapsed && about.employee.resignationDate !== '' && about.employee.resignationDate !== null">
                <h4>End date</h4>
                <span>{{about.employee.resignationDate}}</span>
              </div>
            </div>
          </div>

          <!-- Right column: Description -->
          <div flex="45" flex-gt-sm="70" class="about-description">
            <p class="translate-whitespace" ng-if="about.employee.description"><span ng-if="about.isCollapsed">{{about.shortDescription}}</span><span
              ng-if="!about.isCollapsed">{{about.employee.description}}</span></p>
          </div>
        </div>

        <!-- Edit info -->
        <div class="about-content edit-info" layout="row" layout-xs="column" ng-if="about.isEditModeEnabled">
          <!-- Left column: Picture -->
          <div class="about-img" layout="column" layout-align="start top" layout-align-xs="center center">

            <img id="profilePicturePreview" ng-if="!about.imageSelected" ng-src="{{about.profilePicture}}" alt="Profile picture" class="sample">

            <!-- Original -->
            <!--<input type="file" name="profilePicture" file-model="about.myFile"/>-->
            <div class="inputWrapper">
              Choose File
              <input class="fileInput hidden" custom-on-change="about.test" type="file" accept="image/jpeg" name="profilePicture" onchange="angular.element(this).scope().about.previewPicture(event)" file-model="about.myFile"/>
            </div>
            <br/>
            <input id="submit" type="submit" ng-click="about.changePicture()" value="Upload"/>
          </div>

          <!-- Center column: Overview -->
          <div flex="30" layout="column" class="positioning-center-column">
            <div class="about-job">

              <!-- Function -->
              <div class="about-function about-job-detail">
                <div>
                  <md-input-container class="md-block" flex-gt-xs>
                    <label>Function</label>
                    <input
                      required
                      minlength="2"
                      ng-pattern="about.alphanumeric"
                      maxlength="52"
                      class="userFunctie"
                      name="userFunctie"
                      ng-model="about.employee.function">
                    <div ng-messages="aboutEditForm.userFunctie.$error" md-auto-hide="false">
                      <div ng-message="pattern">Not a valid format.</div>
                      <div ng-message="required">Function is required.</div>
                      <div ng-message="minlength">Function should be atleast 2 characters.</div>
                      <div ng-message="maxlength">Function should be less then 52 characters.</div>
                    </div>
                  </md-input-container>
                </div>
              </div>
              <!-- Unit -->
              <div class="about-unit about-job-detail">
                <div>
                  <md-input-container class="md-block" flex-gt-xs>
                    <label>Unit</label>
                    <input required
                           name="userUnit"
                           class="userUnit"
                           ng-pattern="about.alphanumeric"
                           minlength="2"
                           maxlength="52"
                           ng-model="about.employee.unit.name">
                    <div ng-messages="aboutEditForm.userUnit.$error" md-auto-hide="false">
                      <div ng-message="pattern">Not a valid format.</div>
                      <div ng-message="required">Unit is required.</div>
                      <div ng-message="minlength">Unit should be atleast 2 characters.</div>
                      <div ng-message="maxlength">Unit should be less then 52 characters.</div>
                    </div>
                  </md-input-container>
                </div>
              </div>

              <!-- Gender -->
              <div class="about-gender about-job-detail fade">
                <div>
                  <md-input-container style="margin-right: 10px;">
                    <label>Gender</label>
                    <md-select ng-model="about.employee.gender">
                      <md-option ng-repeat="gender in about.genders" value="{{gender}}">{{gender}}</md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </div>

              <!-- Start date -->
              <div class="about-start-date about-job-detail fade" ng-if="!about.isCollapsed || about.isEditModeEnabled">
                <div>
                  <label class="material">Start Date</label>
                  <md-datepicker ng-model="about.employee.startDateTypeDate" ng-change="about.changeStartDate()"
                                 md-placeholder="Start date"></md-datepicker>
                </div>
              </div>

              <!-- End date -->
              <div class="about-end-date about-job-detail fade"
                   ng-if="about.employee.resignationDate !== '' && about.employee.resignationDate !== null">
                <h4>End date</h4>
                <span>{{about.employee.resignationDate}}</span>
              </div>
            </div>
          </div>

          <!-- Right column: Description -->
          <div flex="45" flex-gt-sm="70" class="about-description positioning-right-column">
            <div>
              <md-input-container class="md-block" flex-gt-xs>
                <label>Description</label>
              <textarea name="userDescription"
                        required
                        md-auto-hide="false"
                        ng-model="about.employee.description"
                        maxlength="2048"
                        ng-maxlength="2048"
                        md-select-on-focus>
              </textarea>
                <div ng-messages="aboutEditForm.userDescription.$error" md-auto-hide="false">
                  <div ng-message="required">description is required.</div>
                  <div ng-message="minlength">description should be atleast 2 characters.</div>
                  <div ng-message="maxlength">description should be less then 2048 characters.</div>
                </div>
              </md-input-container>
            </div>
          </div>
        </div>


        <!-- Card footer -->

        <div layout="row" layout-align="end center" class="about-footer" ng-if="!about.isEditModeEnabled">
          <md-button ng-click="about.onExpandCollapseButtonClick()" class="btnMore md-raised md-primary">
            {{about.footerButtonLabel}}
          </md-button>
        </div>
      </div>

      <span flex="5"></span>

    </div>
  </form>
</md-card>
