<md-card>
  <md-card-title>
    <md-card-title-text>
      <div ng-if="milestoneDetails.milestone" layout="row">
        <div layout="column">
          <p class="md-headline no-top-margin no-bottom-margin">{{milestoneDetails.title}}</p>
          <div id="status" layout="row" layout-align="start center">
            <span ng-if="milestoneDetails.status == 0" class="inProgress md-caption">In progress</span>
            <span ng-if="milestoneDetails.status == 1" class="accomplished md-caption">Accomplished</span>
            <span ng-if="milestoneDetails.status == 2" class="notAccomplished md-caption">Not accomplished</span>
          </div>
        </div>
        <span flex></span>
        <md-button
          aria-label="Edit"
          ng-click="milestoneDetails.showEditDialog()"
          class="btnSave md-icon-button md-warn">
          <md-icon md-svg-icon="content:create"></md-icon>
        </md-button>
      </div>
      <span class="md-title" ng-if="!milestoneDetails.milestone">Please select a milestone</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content ng-if="milestoneDetails.milestone">
    <div layout="column" layout-gt-lg="row">
      <div flex="50" class="detail">
        <span class="md-subhead"><strong>Description</strong></span>
        <p class="gray no-top-margin">{{milestoneDetails.description}}</p>
      </div>
      <div flex="50">
        <span class="md-subhead"><strong>More information</strong></span>
        <p class="gray no-top-margin">{{milestoneDetails.moreInformation}}</p>
      </div>
    </div>
    <div layout="row">
      <div class="detail">
        <span class="md-body-2 accent-color"><strong>Create date</strong></span>
        <p class="no-top-margin">{{milestoneDetails.createDate}}</p>
      </div>
      <div class="detail">
        <span class="md-body-2 accent-color"><strong>Due date</strong></span>
        <p class="no-top-margin">{{milestoneDetails.dueDate}}</p>
      </div>
      <div class="detail" ng-if="milestoneDetails.endDate">
        <span class="md-body-2 accent-color"><strong>End date</strong></span>
        <p class="no-top-margin">{{milestoneDetails.endDate}}</p>
      </div>
    </div>
    <md-chips readonly="true" ng-model="milestoneDetails.tags"></md-chips>
  </md-card-content>
</md-card>
