//$orange: #e98300;
//$lightOrange: #f9a858;
//$grey: #57595b;
//$lightGrey: #bdbcbc;
//$darkGrey: #686868;
//$mainBackground: #f4f4f4;
$green: #5bb75b;
$red: #dd0000;

milestone-details {

  .detail {
    padding-right: 1em;
  }
  #status {
    .inProgress {
      color: #0e90d2;
    }

    .accomplished {
      color: $green;
    }

    .notAccomplished {
      color: $red;
    }
  }
}
