<md-card>
  <div layout="row">
    <span flex="5"></span>
    <!-- Content -->
    <div flex layout="column">
      <div layout="row" class="about-header" layout-align="start center">
        <h3 flex>About myself</h3>
        <div layout="row" layout-align="end center">
          <div layout="row">
            <md-button class="md-icon-button">
              <md-icon md-svg-icon="content:create"></md-icon>
            </md-button>
            <md-button class="md-icon-button">
              <md-icon md-svg-src="act:open_with"></md-icon>
            </md-button>
          </div>
        </div>
      </div>
      <div class="about-content" layout="row">
        <div flex="30" class="about-img" layout="row" layout-align="start top">
          <p>[img]</p>
        </div>
        <div flex layout="column">
          <div class="about-description">
            <h4>Function</h4>
            <span>Designer</span>
            <h4>Unit</h4>
            <span>Clockwork</span>
          </div>
        </div>
        <div flex="50">
          <p>
            Ye on properly handsome returned throwing am no whatever. In without wishing he of picture no exposed talking minutes. Curiosity continual belonging offending so explained it exquisite. Do remember to followed yourself material mr recurred carriage. High drew west we no or at john. About or given on witty event. Or sociable up material bachelor bringing landlord confined. Busy so many in hung easy find well up. So of exquisite my an explained remainder. Dashwood denoting securing be on perceive my laughing so.
          </p>
        </div>
      </div>
      <div layout="row" layout-align="end center" class="about-footer">
        <md-button>
          more
        </md-button>
      </div>
    </div>
    <span flex="5"></span>
  </div>
</md-card>
