<div class="objectives-search">
  <md-autocomplete
    md-selected-item="$ctrl.selectedItem"
    md-item-text="obj.title"
    md-no-cache="true"
    md-selected-item-change="$ctrl.selectedItemChange(obj)"
    md-search-text="$ctrl.searchText"
    md-items="obj in $ctrl.getObjectives()"
    md-menu-class="autocomplete-custom-template"
    placeholder="Search objectives by title or tag">
    <md-item-template>
      <div class="item-title">
        <span class=item-title md-highlight-text="$ctrl.searchText">{{obj.title}}</span>
      </div>
      <div class="item-tag">
        Tags:
        <span ng-repeat="tag in obj.tags">{{tag}}</span>
      </div>
    </md-item-template>
    <md-not-found>
      "Cannot find anything matching {{$ctrl.searchText}}".
    </md-not-found>
  </md-autocomplete>
</div>
