@charset "utf-8";
$orange: #e98300;
$lightOrange: #f9a858;
$grey: #57595b;
$lightGrey: #bdbcbc;
$darkGrey: #686868;
$mainBackground: #f4f4f4;

$loginRegisterMarginTop: 20px;
$jworksLogo: '../images/jworks-logo.jpg';
$loginBg: '../images/landscape.jpg';
$materialBg: '../images/header-bg.png';
$logoNoMargin: '../images/jworks-trans.png';
$ordinaLogo: '../images/ordina-logo.png';

body {
  background-color: $mainBackground;
  height: auto;
  font-family: NeutraTextBook;
}

h1, h2, h3, h4, h5, h6 {
  font-family: NeutraTextBold;
}

section[ui-view] {
  background-color: $mainBackground;
}

.translate-whitespace{
  white-space: pre-line;
}
img {
  font-family: 'NeutraTextBook';
  font-weight: 300;
  line-height: 2;
  text-align: center;

  width: 100%;
  height: auto;
  display: block;
  position: relative;
}
img:before {
  content: " ";
  display: block;

  position: absolute;
  top: -10px;
  left: 0;
  height: calc(100% + 10px);
  width: 100%;
  background-color: rgb(230, 230, 230);
  border: 2px dotted rgb(200, 200, 200);
  border-radius: 5px;
}

img:after {
  content: "\f127";
  display: block;
  font-size: 16px;
  font-style: normal;
  font-family: FontAwesome;
  color: rgb(100, 100, 100);

  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}
