@charset "utf-8";
$orange: #e98300;
$lightOrange: #f9a858;
$grey: #57595b;
$lightGrey: #bdbcbc;
$darkGrey: #686868;
$mainBackground: #f4f4f4;

$loginRegisterMarginTop: 20px;
$jworksLogo: '../images/jworks-logo.jpg';
$loginBg: '../images/landscape.jpg';
$materialBg: '../images/header-bg.png';
$logoNoMargin: '../images/jworks-trans.png';
$ordinaLogo: '../images/ordina-logo.png';

body {
  background-color: $mainBackground;
  height: auto;
  font-family: NeutraTextBook;
}

h1, h2, h3, h4, h5, h6 {
  font-family: NeutraTextBold;
}

section[ui-view] {
  background-color: $mainBackground;
}
