<style>
  .md-tab:hover {
    color: #E98300;
  }

  .md-tab:active {
    color: #E98300;
  }
</style>

<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab class="md-tab-item" label="ABOUT">
        <md-content class="md-padding">

          <a-little-about-me></a-little-about-me>
          <certificates></certificates>

        </md-content>
      </md-tab>
      <md-tab label="POINTS">
        <md-content class="md-padding">

        </md-content>
      </md-tab>
      <md-tab label="LEARNING">
        <md-content class="md-padding">
          <skillset></skillset>
        </md-content>
      </md-tab>
      <md-tab label="ACTIVITY">
        <md-content class="md-padding">

        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
