<style>
  .md-tab:hover {
    color: #E98300;
  }

  .md-tab:active {
    color: #E98300;
  }
</style>

<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab class="md-tab-item" label="ABOUT">
        <md-content class="md-padding">

          <skillset></skillset>
          <a-little-about-me></a-little-about-me>
          <certificates></certificates>
          <interests></interests>
          <daily-route></daily-route>
          <experience></experience>
          <worked-with-person></worked-with-person>

        </md-content>
      </md-tab>
      <md-tab label="POINTS">
        <md-content class="md-padding">
          <endorsements></endorsements>
        </md-content>
      </md-tab>
      <md-tab label="LEARNING">
        <md-content class="md-padding">
          <skillcompetence></skillcompetence>
          <learning></learning>
        </md-content>
      </md-tab>
      <md-tab label="ACTIVITY">
        <md-content class="md-padding">
          <activity></activity>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
