<style>
  #aLittleAboutMe {

  }

  .details {

  }
</style>

<div id="aLittleAboutMe">
  <h1>
    A LITTLE ABOUT ME
  </h1>
  <p>
    Lester is a highly motivated person with strong interest in IT.
    During his education, he specialized in web technologies such as html/css, javascript, PHP and ASP.NET.
    As a developer, he is passionately engaged and combines his technical skills with clear communication between
    everyone he interacts with.
  </p>
  <p>
    Together with his day job as a Microsoft software consultant, Lester is also an active member of Ordina Competence
    Centers about ALM, web and soft skills.
  </p>
  <div class="details">
    <md-icon md-font-icon="icon-home"></md-icon>
  </div>
  <div class="details">

  </div>
  <div class="details">

  </div>
  <div class="details">

  </div>
  <div class="details">

  </div>
</div>
