<style>
  #aLittleAboutMe {
    margin-bottom: 30px;
    width: 100%;
  }

  .myDetails {
    clear: both;
  }

  .myDetails ng-md-icon {
    float: left;
  }

  .myDetails p {
    margin-left: 30px;
    padding: 2px 5px 2px 5px;
  }

  /* Extra small devices (phones, less than 768px) */
  /* No media query since this is the default in Bootstrap */

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {

  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    #aLittleAboutMe {
      width: 35%;
    }
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {

  }
</style>

<div id="aLittleAboutMe" style="border: solid 1px black;">
  <h4>
    A LITTLE ABOUT ME
  </h4>

  <p>
    {{aLittleAboutMe.intro1}}
  </p>

  <p>
    {{aLittleAboutMe.intro2}}
  </p>

  <div class="myDetails">
    <ng-md-icon icon="home" size="24"></ng-md-icon>
    <p>
      {{aLittleAboutMe.address.street}} {{aLittleAboutMe.address.streetNumber}}<br/>
      {{aLittleAboutMe.address.zipCode}} {{aLittleAboutMe.address.city}}, {{aLittleAboutMe.address.country}}
    </p>
  </div>
  <div class="myDetails">
    <ng-md-icon icon="share" size="24"></ng-md-icon>
    <p>
      {{aLittleAboutMe.contactInformation.twitter}} (Twitter)<br/>
      {{aLittleAboutMe.contactInformation.skype}} (Skype)<br/>
      {{aLittleAboutMe.contactInformation.windowsLiveMessenger}} (Windows Live Messenger)<br/>
      {{aLittleAboutMe.contactInformation.googleTalk}} (Google Talk)<br/>
    </p>
  </div>
  <div class="myDetails">
    <ng-md-icon icon="language" size="24"></ng-md-icon>
    <p>
      {{aLittleAboutMe.website}}
    </p>
  </div>
  <div class="myDetails">
    <ng-md-icon icon="cake" size="24"></ng-md-icon>
    <p>
      {{aLittleAboutMe.birthDate | date:'longDate'}}
    </p>
  </div>
  <div class="myDetails">
    <ng-md-icon icon="account_child" size="24"></ng-md-icon>
    <p>
      {{aLittleAboutMe.children}} <span ng-if="aLittleAboutMe.children === 1">Child</span><span ng-if="aLittleAboutMe.children > 1">Children</span>
    </p>
  </div>
</div>
