<style>
  #certificates {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
  }

  #certificatesContainer {

  }

  .certificatesItem {
    float: left;
    height: 150px;
    padding: 5px;
    text-align: center;
    width: 33.333%;
  }

  .certificatesItem img {
    border: solid 5px #E98321;
    border-radius: 40px;
    height: 80px;
    width: 80px;
  }

  .certificatesItem p {
    color: #797478;
    font: 9px/1.5 Verdana, Helvetica, sans-serif;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
    width: 80px;
  }

  /* Extra small devices (phones, less than 768px) */
  /* No media query since this is the default in Bootstrap */

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .certificatesItem {
      width: 16.666%;
    }
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    #certificates {
      width: 65%;
    }
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {

  }
</style>

<div id="certificates" style="border: solid 1px black;">
  <h4>CERTIFICATES</h4>
  <div id="certificatesContainer">
    <div class="certificatesItem">
      <img ng-src="http://lorempixel.com/80/80/" alt="Certificate"/>
      <p>
        Prince2 Foundation
      </p>
    </div>
    <div class="certificatesItem">
      <img ng-src="http://lorempixel.com/80/80/" alt="Certificate"/>
      <p>
        Programming in HTML5, JavaScript, CSS3
      </p>
    </div>
    <div class="certificatesItem">
      <img ng-src="http://lorempixel.com/80/80/" alt="Certificate"/>
      <p>
        Developing ASP.NET MVC web applications
      </p>
    </div>
    <div class="certificatesItem">
      <img ng-src="http://lorempixel.com/80/80/" alt="Certificate"/>
      <p>
        Prince2 Foundation
      </p>
    </div>
    <div class="certificatesItem">
      <img ng-src="http://lorempixel.com/80/80/" alt="Certificate"/>
      <p>
        Programming in HTML5, JavaScript, CSS3
      </p>
    </div>
    <div class="certificatesItem">
      <img ng-src="http://lorempixel.com/80/80/" alt="Certificate"/>
      <p>
        Developing ASP.NET MVC web applications
      </p>
    </div>
    <div class="certificatesItem">
      <img ng-src="http://lorempixel.com/80/80/" alt="Certificate"/>
      <p>
        Prince2 Foundation
      </p>
    </div>
    <div class="certificatesItem">
      <img ng-src="http://lorempixel.com/80/80/" alt="Certificate"/>
      <p>
        Programming in HTML5, JavaScript, CSS3
      </p>
    </div>
    <div class="certificatesItem">
      <img ng-src="http://lorempixel.com/80/80/" alt="Certificate"/>
      <p>
        Developing ASP.NET MVC web applications
      </p>
    </div>
  </div>
</div>
