<style>
  #certificates {
    width: 65%;
  }

  .certificatesContainer {
    width: 80%;
    margin-top: 10px;
    overflow-x: auto;
  }

  .certificateItem {
    color: #797478;
    font: 10px/1.5 Verdana, Helvetica, sans-serif;
    padding: 5px;
    text-align: center;
    width: 16.666%;
  }

  .certificateItem img {
    width: 80px;
    height: 80px;
    border: solid 5px #E98321;
    border-radius: 40px;
  }

  .certificateItem p {
    margin-top: 5px;
    /*text-align: center;*/
    text-transform: uppercase;
  }
</style>

<div id="certificates">
  <h4>CERTIFICATES</h4>
  <div class="certificatesContainer" layout="row">
    <div class="certificateItem">
      <img ng-src="http://lorempixel.com/80/80/" alt="Certificate"/>
      <p>
        Prince2 Foundation
      </p>
    </div>
    <div class="certificateItem">
      <img ng-src="http://lorempixel.com/80/80/" alt="Certificate"/>
      <p>
        Programming in HTML5, JavaScript, CSS3
      </p>
    </div>
    <div class="certificateItem">
      <img ng-src="http://lorempixel.com/80/80/" alt="Certificate"/>
      <p>
        Developing ASP.NET MVC web applications
      </p>
    </div>
    <div class="certificateItem">
      <img ng-src="http://lorempixel.com/80/80/" alt="Certificate"/>
      <p>
        Prince2 Foundation
      </p>
    </div>
    <div class="certificateItem">
      <img ng-src="http://lorempixel.com/80/80/" alt="Certificate"/>
      <p>
        Programming in HTML5, JavaScript, CSS3
      </p>
    </div>
    <div class="certificateItem">
      <img ng-src="http://lorempixel.com/80/80/" alt="Certificate"/>
      <p>
        Developing ASP.NET MVC web applications
      </p>
    </div>
    <div class="certificateItem">
      <img ng-src="http://lorempixel.com/80/80/" alt="Certificate"/>
      <p>
        Prince2 Foundation
      </p>
    </div>
    <div class="certificateItem">
      <img ng-src="http://lorempixel.com/80/80/" alt="Certificate"/>
      <p>
        Programming in HTML5, JavaScript, CSS3
      </p>
    </div>
    <div class="certificateItem">
      <img ng-src="http://lorempixel.com/80/80/" alt="Certificate"/>
      <p>
        Developing ASP.NET MVC web applications
      </p>
    </div>
  </div>
</div>
