<style>
  #dailyRoute {
    width: 100%;
  }

  #map {
    background-color: #CCC;
    height: 0;
    padding-bottom: 65%;
    position: relative;
    width: 100%;
  }

  .inlineArrow {
    font-size: 20px;
    position: relative;
    top: 2px;
  }

  /* Extra small devices (phones, less than 768px) */
  /* No media query since this is the default in Bootstrap */

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {

  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    #dailyRoute {
      width: 35%;
    }
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {

  }
</style>

<div id="dailyRoute" style="border: solid 1px black;">
  <h4>DAILY ROUTE</h4>

  <p>
    {{dailyRoute.route.departure}} <span class="inlineArrow">&#x279c;</span> {{dailyRoute.route.arrival}}
  </p>

  <p>
    <b>Working at:</b><br/>
    {{dailyRoute.workplace.name}}<br/>
    {{dailyRoute.workplace.address.street}} {{dailyRoute.workplace.address.streetNumber}},<br/>
    {{dailyRoute.workplace.address.zipCode}} {{dailyRoute.workplace.address.city}}<br/>
  </p>

  <p>
    <b>On-site:</b> {{dailyRoute.workingHours.begin.hours}}:<span ng-if="dailyRoute.workingHours.begin.minutes < 10">0</span>{{dailyRoute.workingHours.begin.minutes}} - {{dailyRoute.workingHours.end.hours}}:<span ng-if="dailyRoute.workingHours.end.minutes < 10">0</span>{{dailyRoute.workingHours.end.minutes}}<br/>
    <span ng-if="dailyRoute.travel.car.isUsing === true">
      <b>Travelling by car:</b> {{dailyRoute.travel.car.distance}} km - &plusmn; <span ng-if="dailyRoute.travel.car.duration.hours !== null && dailyRoute.travel.car.duration.hours !== 0">{{dailyRoute.travel.car.duration.hours}} h </span>{{dailyRoute.travel.car.duration.minutes}} min<br/>
    </span>
    <span ng-if="dailyRoute.travel.publicTransport.isUsing === true">
      <b>Travelling by public transport:</b> &plusmn; <span ng-if="dailyRoute.travel.publicTransport.duration.hours !== null && dailyRoute.travel.publicTransport.duration.hours !== 0">{{dailyRoute.travel.publicTransport.duration.hours}} h </span>{{dailyRoute.travel.publicTransport.duration.minutes}} min<br/>
    </span>
    <span ng-if="dailyRoute.travel.bicycle.isUsing === true">
      <b>Travelling by bicycle:</b> {{dailyRoute.travel.bicycle.distance}} km - &plusmn; <span ng-if="dailyRoute.travel.bicycle.duration.hours !== null && dailyRoute.travel.bicycle.duration.hours !== 0">{{dailyRoute.travel.bicycle.duration.hours}} h </span>{{dailyRoute.travel.bicycle.duration.minutes}} min<br/>
    </span>
    <span ng-if="dailyRoute.travel.foot.isUsing === true">
      <b>Travelling by foot:</b> {{dailyRoute.travel.foot.distance}} km - &plusmn; <span ng-if="dailyRoute.travel.foot.duration.hours !== null && dailyRoute.travel.foot.duration.hours !== 0">{{dailyRoute.travel.foot.duration.hours}} h </span>{{dailyRoute.travel.foot.duration.minutes}} min<br/>
    </span>
  </p>

  <div id="map"></div>
</div>
