<style>
  md-switch {
    margin: 15px 0;
  }

  md-switch.md-default-theme.md-checked, md-switch.md-checked .md-thumb {
    background-color: white;
  }

  md-switch.md-default-theme.md-checked, md-switch.md-checked .md-bar {
    background-color:darkorange;
  }
</style>

<div layout-padding ng-init="initPlaces(dailyRoute.route.arrival);">
  <h4 class="md-title">Daily route</h4>

  <md-switch ng-model="state" md-no-ink aria-label="Switch 6" ng-change="onChange(state)">
    Custom destination
  </md-switch>
  <div layout="column" style="margin:20px 0;" ng-show="!state">
    <span>{{aLittleAboutMe.address.city}} &#10140; {{dailyRoute.route.arrival}}</span>
    <br/>
    <span><b>Working at:</b></span>
    <span>{{dailyRoute.workplace.name}}</span>
    <span>{{dailyRoute.workplace.address.street + ' ' + dailyRoute.workplace.address.streetNumber}}</span>
    <span>{{dailyRoute.workplace.address.zipCode}} {{dailyRoute.workplace.address.city}}</span>
    <br/>
    <span><b>On-site:</b> 8:00 - 17:00</span>
    <span><b>Travelling by car:</b> {{map.directionsRenderers[0].directions.routes[0].legs[0].distance["text"]}} - {{map.directionsRenderers[0].directions.routes[0].legs[0].duration["text"]}}</span>
  </div>
  <div layout="column" style="margin:20px 0;" ng-show="state">
    <input places-auto-complete types="['geocode','establishment']" ng-model="mapAddress" placeholder="Destination"/>
    <br/>
    <span><b>Travelling by car:</b> {{map.directionsRenderers[0].directions.routes[0].legs[0].distance["text"]}} - {{map.directionsRenderers[0].directions.routes[0].legs[0].duration["text"]}}</span>
  </div>
  <map zoom="4" style="width:100%;height:300px">
    <directions
      draggable="false"
      travel-mode="DRIVING"
      origin="{{aLittleAboutMe.address.street + ' ' + alittleAboutMe.address.city}}"
      destination="{{mapAddress}}">
    </directions>
  </map>
</div>
