<style>
  #interests {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
  }

  #interestsContainer {

  }

  .interestsItem {
    background-color: #E98321;
    color: white;
    float: left;
    margin-right: 4px;
    margin-bottom: 3px;
    padding: 5px 8px 5px 8px;
    text-transform: uppercase;
  }

  /* Extra small devices (phones, less than 768px) */
  /* No media query since this is the default in Bootstrap */

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {

  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    #interests {
      width: 35%;
    }
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {

  }
</style>
<div id="interests" style="border: solid 1px black;">
  <h4>INTERESTS</h4>

  <div id="interestsContainer">
    <div class="interestsItem">
      Microsoft
    </div>
    <div class="interestsItem">
      .NET
    </div>
    <div class="interestsItem">
      Sales
    </div>
    <div class="interestsItem">
      MVC
    </div>
    <div class="interestsItem">
      Fishing
    </div>
    <div class="interestsItem">
      CSS
    </div>
    <div class="interestsItem">
      Soccer
    </div>
    <div class="interestsItem">
      HTML5
    </div>
    <div class="interestsItem">
      Java
    </div>
    <div class="interestsItem">
      jQuery
    </div>
    <div class="interestsItem">
      SQL
    </div>
    <div class="interestsItem">
      MatLab
    </div>
    <div class="interestsItem">
      Marketing
    </div>
    <div class="interestsItem">
      Eclipse
    </div>
    <div class="interestsItem">
      Agile
    </div>
    <div class="interestsItem">
      SOAPUI
    </div>
  </div>
</div>
