<style>
  #interests {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
  }

  #interestsContainer {

  }

  .interestsItem {
    background-color: #E98321;
    color: white;
    float: left;
    margin-right: 4px;
    margin-bottom: 3px;
    padding: 5px 8px 5px 8px;
    text-transform: uppercase;
  }

  /* Extra small devices (phones, less than 768px) */
  /* No media query since this is the default in Bootstrap */

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {

  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    #interests {
      width: 35%;
    }
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {

  }
</style>

<div id="interests" style="border: solid 1px black;">
  <h4>INTERESTS</h4>

  <div ng-if="interests === null || interests.length === 0">
    <p>
      There are no interests yet.
    </p>
  </div>

  <div id="interestsContainer" ng-if="interests !== null && interests.length !== 0">
    <div class="interestsItem" ng-repeat="interest in interests">
      {{interest.description}}
    </div>
  </div>
</div>
