<div>
  <h1>My profile</h1>
  <hr>
  <div>
    <h4>Details</h4>
    <dl class="dl-horizontal">
      <dt>Active</dt>
      <dd><input type="checkbox" ng-model="myDetails.active" disabled/></dd>
      <dt>Photo</dt>
      <dd><img ng-src="{{myDetails.photo}}" alt="Profile photo"/></dd>
      <dt>First name</dt>
      <dd>{{myDetails.firstName}}</dd>
      <dt>Last name</dt>
      <dd>{{myDetails.lastName}}</dd>
      <dt>Gender</dt>
      <dd>{{myDetails.gender}}</dd>
      <dt>Birth date</dt>
      <dd>{{myDetails.birthDate}}</dd>
      <dt>Address</dt>
      <dd>{{myDetails.address}}</dd>
      <dt>Unit</dt>
      <dd>{{myDetails.unit}}</dd>
      <dt>Enrollment date</dt>
      <dd>{{myDetails.enrollmentDate}}</dd>
      <dt>Contact information</dt>
      <dd>{{myDetails.contactInformation}}</dd>
    </dl>
    <hr>
  </div>
  <div>
    <h4>Roles</h4>
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>Application roles</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="myApplicationRole in myApplicationRoles">
          <td>{{myApplicationRole.name}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>Functional roles</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="myFunctionalRole in myFunctionalRoles">
          <td>{{myFunctionalRole.name}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>
  <div>
    <h4>Customers</h4>
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="myCustomer in myCustomers">
          <td>{{myCustomer.name}}</td>
          <td>{{myCustomer.description}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>
  <div ng-if="hasBusinessUnitManagers">
    <h4>Business unit managers</h4>
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="myBusinessUnitManager in myBusinessUnitManagers">
          <td>{{myBusinessUnitManager.firstName}}</td>
          <td>{{myBusinessUnitManager.lastName}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>
  <div ng-if="hasCompetenceLeaders">
    <h4>Competence leaders</h4>
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="myCompetenceLeader in myCompetenceLeaders">
          <td>{{myCompetenceLeader.firstName}}</td>
          <td>{{myCompetenceLeader.lastName}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>
  <div ng-if="hasPracticeManagers">
    <h4>Practice managers</h4>
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="myPracticeManager in myPracticeManagers">
          <td>{{myPracticeManager.firstName}}</td>
          <td>{{myPracticeManager.lastName}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>
  <div>
    <h4>Coaches</h4>
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="myCoach in myCoaches">
          <td>{{myCoach.firstName}}</td>
          <td>{{myCoach.lastName}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>
  <div ng-if="hasDescendants">
    <h4>Descendants</h4>
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="myDescendant in myDescendants">
          <td>{{myDescendant.firstName}}</td>
          <td>{{myDescendant.lastName}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>
  <div>
    <h4>Skill competences</h4>
    <p>Oops, looks like we didn't find any implementation yet!</p>
    <hr>
  </div>
  <div>
    <h4>Credentials</h4>
    <button ng-click="modifyMyCredentials()">Modify</button>
    <hr>
  </div>
</div>
