<h1>Profielgegevens voor: {{username}}</h1>
<p>Voornaam: {{firstName}}</p>
<p>Achternaam: {{lastName}}</p>
<p>Geslacht: {{gender}}</p>
<p>Geboortedatum: {{birthDate}}</p>
<p>Inschrijvingsdatum: {{enrolmentDate}}</p>
<button ng-hide="isAdmin" ng-click="makeAdmin()">Upgrade to Admin!</button>

<div ng-if="isBum || isCL || isPM || isCoach">
  <h4>My users</h4>
  <hr>
  <p ng-repeat="myUser in myUsers">
    User {{$index + 1}}: {{myUser.firstName}} {{myUser.lastName}} from {{myUser.unit}}
  </p>
</div>
