<div>
  <h1>My profile</h1>
  <hr>
  <div>
    <h4>Details</h4>
    <hr>
    <dl class="dl-horizontal">
      <dt>Active</dt>
      <dd><input type="checkbox" ng-model="myProfile.active" disabled/></dd>
      <dt>Photo</dt>
      <dd><img src="https://s3.amazonaws.com/codecademy-blog/assets/f3a16fb6.jpg" alt="Profile picture"></dd>
      <dt>First name</dt>
      <dd>{{myProfile.firstName}}</dd>
      <dt>Last name</dt>
      <dd>{{myProfile.lastName}}</dd>
      <dt>Gender</dt>
      <dd>{{myProfile.gender}}</dd>
      <dt>Birth date</dt>
      <dd>{{myProfile.birthDate}}</dd>
      <dt>Address</dt>
      <dd>{{myProfile.address}}</dd>
      <dt>Unit</dt>
      <dd>{{myProfile.unit}}</dd>
      <dt>Enrollment date</dt>
      <dd>{{myProfile.enrollmentDate}}</dd>
      <dt>Contact information</dt>
      <dd>{{myProfile.contactInformation}}</dd>
    </dl>
    <hr>
  </div>
  <div>
    <h4>Update details</h4>
    <hr>
    <p>NOT IMPLEMENTED YET</p>
    <hr>
  </div>
  <div>
    <h4>Roles</h4>
    <hr>
    <dl class="dl-horizontal">
      <dt>Application roles</dt>
      <dd></dd>
      <dd></dd>
      <dt>Functional roles</dt>
      <dd></dd>
      <dd></dd>
    </dl>
    <hr>
  </div>
  <div>
    <h4>Customers</h4>
    <hr>
    <dl class="dl-horizontal">
      <dt></dt>
      <dd></dd>
    </dl>
    <hr>
  </div>
  <div>
    <h4>Business unit managers</h4>
    <hr>
    <dl class="dl-horizontal">
      <dt></dt>
      <dd></dd>
    </dl>
    <hr>
  </div>
  <div>
    <h4>Competence leaders</h4>
    <hr>
    <dl class="dl-horizontal">
      <dt></dt>
      <dd></dd>
    </dl>
    <hr>
  </div>
  <div>
    <h4>Practice managers</h4>
    <hr>
    <dl class="dl-horizontal">
      <dt></dt>
      <dd></dd>
    </dl>
    <hr>
  </div>
  <div>
    <h4>Coaches</h4>
    <hr>
    <dl class="dl-horizontal">
      <dt></dt>
      <dd></dd>
    </dl>
    <hr>
  </div>
  <div ng-if="hasDescendants">
    <h4>My descendants</h4>
    <hr>
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="myDescendant in myDescendants">
          <td>{{myDescendant.firstName}}</td>
          <td>{{myDescendant.lastName}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>
  <div>
    <h4>Skill competences</h4>
    <hr>
    <p>NOT READY TO IMPLEMENT YET</p>
  </div>

  <div>
    <h4>Credentials</h4>
    <hr>
    <button ng-click="modifyMyCredentials()">Modify</button>
    <hr>
  </div>
</div>

<!--
_links (get stuff):

bussinessUnitManagers
coaches
competenceLeaders
customers
practiceManagers
roles
self: href
-->
