



<div id="legend">
            <legend class="">Choose a side...</legend>
        </div>



<div>
    <form name="myForm">
        <label > Roles: </label>
        <select name="selectroles" ng-model="role.selected">
            <option ng-repeat="role in roles" value="{{role.name}}">{{role.name}}</option>
        </select>

        <button class="btn btn-primary" ng-click="addSelected(role.selected)">Choose!</button>
    </form>
    <hr>
</div>

<div>
  <table class="table table-hover table-striped table-bordered">
    <thead>
    <tr>
      <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="functionalRole in allFunctionalRoles">
      <td>{{functionalRole.name}}</td>
    </tr>
    </tbody>
  </table>
</div>
