<h4>Role Management</h4>
<h5>{{message}}</h5>


<md-list>
  <md-subheader class="md-no-sticky">Your roles</md-subheader>
  <md-list-item ng-repeat="role in roles">
    <p> {{ role.name }} </p>
    <md-button class="md-raised md-warn" ng-click="deleteRole(role._links.self.href)"
               ng-model="role">Remove
    </md-button>
  </md-list-item>

<div>
    <hr>
</div>


<h5>Pick a person in your unit to add roles to.</h5>
<div>

  <md-select placeholder=" Pick person
  " ng-change="selectPerson()" ng-model="selectedItem" md-on-open="persons"
             style="width: 200px;">
    <md-option ng-value="person" ng-repeat="person in persons">{{person.firstName}} {{person.lastName}}</md-option>
  </md-select>



</div>

<div ng-show="selected">


  <md-select placeholder=" Pick a role to assign
  " ng-change="selectRole()" ng-model="rolling" md-on-open="avroles"
             style="width: 200px;">
    <md-option ng-value="role" ng-repeat="role in avroles">{{role.name}}</md-option>
  </md-select>
  <md-button ng-show="roleSelected" class="md-fab md-success" ng-click="addRole(rolling)">Add
  </md-button>

  <div>


    <md-list>
      <md-subheader class="md-no-sticky">{{selectedItem.firstName}} {{selectedItem.lastName}}'s roles</md-subheader>
      <md-list-item ng-repeat="otherRole in otherRoles">
        <p> {{ otherRole.name }} </p>
        <md-button class="md-raised md-warn" ng-click="removeRoleOfOther(otherRole._links.self.href)"
                   ng-model="otherRole">Remove
        </md-button>
      </md-list-item>

  </div>
</div>
