<h4>Role Details</h4>
<h5>{{message}}</h5>



<p ng-repeat="role in roles">
  Functional role {{$index + 1}}: {{role.name}}
  <button ng-click="deleteRole(role._links.self.href)">Delete role</button>
</p>


<div>
    <hr>
  <md-button>heyhey</md-button>
</div>

<md-select class="browser-default" ng-model="selectedRole" material-select watch>
  <option ng-repeat="role in avroles">{{role.name}}</option>
</md-select>
<div>
  <table class="table table-hover table-striped table-bordered">
    <thead>
    <tr>
      <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="functionalRole in allFunctionalRoles">
      <td>{{functionalRole.name}}</td>
    </tr>
    </tbody>
  </table>
</div>
