<h1>Skills</h1>
<hr>
<h3>Filter</h3>
<div class="row">
  <div class="col-xs-6">
    <input ng-model="search.name" type="text" class="form-control" id="nameSearch"
           placeholder="Name">
  </div>
</div>
<hr>
<h3>List</h3>
<div class="row">
  <div class="col-lg-6">
    <table class="table table-hover table-striped table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="skill in skills | filter:search" ng-click="setSelected(skill)">
        <td>{{skill.name}}</td>
        <td>{{skill.category}}</td>
        <td ng-click="remove(skill._links.self.href)">Delete</td>
      </tr>
      <tr>
        <form name="addForm">
          <td>
            <input ng-keyup="$event.keyCode == 13 ? save(skill) : null;" id="name" class="form-control"
                   ng-model="skill.name" ng-change="isNameError = false" autofocus/>

            <div class="alert alert-danger" role="alert" ng-if="isNameError || name.length==0">Enter a name</div>
          </td>
          <td>
            <input ng-keyup="$event.keyCode == 13 ? save(skill) : null;" id="skillCategory" class="form-control"
                   ng-model="skill.skillCategory.name" autofocus/>
          </td>
          <td>
            <button type="button" id="skillSubmit" class="btn btn-default" ng-click="save(skill)">Add</button>
          </td>
        </form>
      </tr>
      </tbody>
    </table>
  </div>
</div>

